/*Color references
Green:     #79b044;
Salmon:    #dd5638;
Blue Gray: #3e4249;*/

/* ===GENERAL=== */
body {
   -webkit-font-smoothing: antialiased;
   text-rendering: optimizelegibility;
   background: url('../img/tile.jpg') top left repeat;
   
 }


/* --------------------------------------
   Typography
   -------------------------------------- */
.well {
   margin: 20px 0;
}


.well .page-header {
   margin-top: 0;
}

.well .page-header h3 {
   margin-top: 0;
}

/* --------------------------------------
   Carousel
   -------------------------------------- */
#myCarousel {
   margin-top: 60px;
}

#myCarousel .item {
	height: 450px;
}

.carousel-inner img {
    -webkit-filter: grayscale(90%);
    filter: grayscale(90%); /* make all photos black and white */ 
    width: 100%; /* Set width to 100% */
    margin: auto;
    -webkit-transform: translateZ(0); /* To clear blury images*/
    transform: translateZ(0);
}


/* --------------------------------------
   Layout
   -------------------------------------- */
#artists {
   text-align: center;
}

#artists img {
   margin: 0 0 20px;
   -webkit-filter: grayscale(90%);
    filter: grayscale(90%); /* make all photos black and white */ 
}

ul.list-inline {
	background-color: #2e2e2e;
}

.fa {
	display: inline-block;
	font-size: 17px;
	text-rendering : auto;
	-webkit-font-smoothing: antialiased;
	color: rgba(255, 255, 255, 0.5);
}

footer {
   background: #333;
   color: rgba(255, 255, 255, 0.5);
   font-size: 11px;
   padding: 20px;
}

ul.unstyled {
   list-style: none;
   padding: 0;

}

li a {
	color: #00E5EE;

}

li a:hover {
	color: #BCF0F2;
}

/* --------------------------------------
   Media Queries
   -------------------------------------- */